@import url("https://fonts.googleapis.com/css2?family=Anuphan&family=Play&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Play, Anuphan, sans-serif;
  font-weight: 400;
  background-color: #91bbce;
}

/* headings and logo */

h1 {
  font-family: Play, Anuphan, sans-serif;
  color: #342017;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#logo {
  float: left;
  font-size: 275%;
  line-height: 75px;
  margin-left: 30px;
}

/* navigation links */

#main-menu {
  letter-spacing: 5px;
  font-size: 100%;
  line-height: 75px;
  text-transform: uppercase;
}

#main-menu li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#main-menu a {
  text-decoration: none;
  color: #342017;
}

#main-menu a:hover {
  border-bottom: 1px double #342017;
}

.active {
    border-bottom: 1px double #342017
}