@import url('https://fonts.googleapis.com/css2?family=Anuphan&family=Play&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Play, Anuphan, sans-serif;
    font-weight: 400;
    background-color: #91bbce;
}

/* headings and logo */

h1 {
    font-family: Play, Anuphan, sans-serif;
    color: #342017;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#logo {
    float: left;
    font-size: 275%;
}