@import url("https://fonts.googleapis.com/css2?family=Anuphan&family=Play&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Play, Anuphan, sans-serif;
  font-weight: 400;
  background-color: #91bbce;
}

/* headings and logo */

h1,
h2 {
  font-family: Play, Anuphan, sans-serif;
  color: #342017;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#logo {
  float: left;
  font-size: 275%;
  line-height: 75px;
  margin-left: 30px;
}

/* navigation links */

#main-menu {
  letter-spacing: 5px;
  font-size: 100%;
  line-height: 75px;
  text-transform: uppercase;
}

#main-menu li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#main-menu a {
  text-decoration: none;
  color: #342017;
}

#main-menu a:hover {
  border-bottom: 1px double #342017;
}

.active {
  border-bottom: 1px double #342017;
}

/* homepage image */

#logo-text,
#logo-text,
h2 {
  color: #91bbce;
}

#main-outer {
  height: 750px;
  width: 100%;
  overflow: hidden;
}

#main-image {
  height: 750px;
  width: 100%;
  background: url("../assets/images/main-image.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#logo-text {
  font-size: 150%;
  font-family: Play, Anuphan, sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 25px;

  width: 380px;
  height: 150px;

  background-color: rgba(241, 109, 107, 0.7);

  top: 150px;
  right: 100px;

  position: absolute;
}

/* why join us section */

#gym-ethos {
    height: 750px;
}

section h1 {
    font-family: Play, Anuphan, sans-serif;
    font-size: 275%;
    color: #342017;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    line-height: 75px;
}

#left-side {
padding-top: 80px;
width: 45%;
float: left;
background-color: blue;
margin-left: 30px;
}

#right-side {
padding-top: 80px;
width: 45%;
float: right;
background-color: green;
margin-right: 30px;
}
